@mixin flex($dir: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin flex-align($justfyContent: center, $alignItems: center) {
  justify-content: $justfyContent;
  align-items: $alignItems;
}
